<!DOCTYPE html>
<html>
<head>
    <title>School Info System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Welcome to School Info Manager</h1>
    <ul>
        <li><a href="/add_student">Add Student</a></li>
        <li><a href="/students">View Students</a></li>
        <li><a href="/mark_attendance">Mark Attendance</a></li>

        <li><a href="/attendance_records">View Attendance Records</a></li>
        <a href="/add_result">➕ Add Result</a><br>
        <a href="/view_results">📊 View Results</a>
        <li><a href="/search_student">Search Student</a></li>

    </ul>
</body>
</html>
